<ion-view view-title="โปรไฟล์ส่วนตัว">
  <ion-content>
    <div class="row">
      <div class="col">
        <h1>Say Hi </h1>
        <p>territoryid:<b style="color:red;">{{user.territoryid}}</b></p>
        <p>ivz_empname:<b style="color:red;">{{user.ivz_empname}}</b></p>
        <p>ivz_empid:<b style="color:red;">{{user.ivz_empid}}</b></p>
        <p>ivz_password:<b style="color:red;">{{user.ivz_password}}</b></p>
        <p>ivz_emailcontact:<b style="color:red;">{{user.ivz_emailcontact}}</b></p>
        <p>ivz_leadermail:<b style="color:red;">{{user.ivz_leadermail}}</b></p>
        <p>ivz_ccmail:<b style="color:red;">{{user.ivz_ccmail}}</b></p>
        <p>name:<b style="color:red;">{{user.name}}</b></p>
        <p>description:<b style="color:red;">{{user.description}}</b></p>
        <p>ivz_statusempid:<b style="color:red;">{{user.ivz_statusempid}}</b></p>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
