<ion-view view-title="เปิดใบเคลม">
  <ion-content>
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col col-90">
        
      </div>
      <div class="col"></div>
    </div>

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <div class="loadermodal">
           <div class="div-center">
              <span class="icon ion-android-checkmark-circle fa-75 fa-success"></span>
                <hr class="hr-clean"/>
                <h2>บันทึกข้อมูลเสร็จแล้ว</h2>
                <div class="row">
                  <button class="btn-com-success-y" myclick="closeload()">ตกลง</button>
                </div>
            </div>
        </div>
      </ion-modal-view>
    </script>
    <script id="my-modal-loading.html" type="text/ng-template">
      <ion-modal-view>
        <div class="loadermodal">
           <div class="div-center">
              <span class="icon ion-android-checkmark-circle fa-75 fa-success"></span>
                <hr class="hr-clean"/>
                <h2>บันทึกข้อมูลเสร็จแล้ว</h2>
                <div class="row">
                  <button class="btn-com-success-y" myclick="closeload()">ตกลง</button>
                </div>
            </div>
        </div>
      </ion-modal-view>
    </script>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reload()">
      <i class="icon ion-refresh error"></i>
      เริ่มใหม่
    </a>
    <a class="tab-item" myclick="genNext01()">
      <i class="icon ion-checkmark primary"></i>
      ตรวจสอบกลุ่มสินค้า
    </a>
  </div>
</ion-view>
