<ion-view view-title="{{title}}">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <input type="date" id="txtdateorder" ng-model="user.txthistclaimdate">
        <form name="tranForm" ng-hide="user.aUseGroup">
          <div>
            <md-checkbox md-no-ink ng-true-value="1" ng-false-value="0" ng-model="user.chkfs" ng-change="expr(user.chkfs)">มีการตอก  F/S</md-checkbox>
            <md-input-container md-no-float>
              <label>ระบุรหัสสินค้า</label>
              <input type="text" placeholder="xx-xx-xxxx" name="txtproductnumber" ng-model="user.txtproductnumber" required md-maxlength="50"  maxlength="50">
              <span class="error" ng-hide="tranForm.txtproductnumber.$valid">*กรุณาระบุรหัสสินค้าด้วย</span>
            </md-input-container>
            <md-input-container md-no-float>
              <label>ระบุจำนวนสินค้า</label>
              <input type="text" placeholder="xx" ng-model="user.txtTatol" required md-maxlength="6"  maxlength="6">
              <span class="error" ng-hide="user.txtTatol">*กรุณาระบุจำนวนสินค้าด้วย</span>
            </md-input-container>
            <hr class="divider">
            <md-radio-group ng-model="user.rdUset">
              <md-radio-button value="0">เคยใช้งานมาแล้ว</md-radio-button>
              <md-radio-button value="1">ยังไม่เคยใช้งาน</md-radio-button>
            </md-radio-group>
          </div>
        </form>
        <!--form topline-->
        <section ng-show="user.aUserUset">
        <form name="frmTopline">
          <div>
            <md-input-container md-no-float ng-if="getType === 0">
              <label>ระบุ part ที่ต้องการเปลี่ยน</label>
              <input type="text" placeholder="xx-xx-xxxx" name="txtpartname" ng-model="user.txtpartname" required md-maxlength="50"  maxlength="50">
              <span class="error" ng-hide="frmTopline.txtpartname.$valid">*กรุณาระบุ part ด้วย</span>
            </md-input-container>
            <md-input-container md-no-float>
              <label>ระบุเลขที่ใบเคลม</label>
              <input type="text" placeholder="xx-xx-xxxx" name="txtclaim" ng-model="user.txtclaim" required md-maxlength="50"  maxlength="50">
              <span class="error" ng-hide="frmTopline.txtclaim.$valid">*กรุณาระบุเลขที่ใบเคลมด้วย</span>
            </md-input-container>
            <hr class="divider">
            <md-radio-group ng-model="user.rdUserSet">
              <md-radio-button value="0">ถือสินค้ามาเอง</md-radio-button>
              <md-radio-button value="1">ส่ง EMS</md-radio-button>
            </md-radio-group>
            <hr class="divider">
            <div class="row">
              <div class="col">
                <md-button class="md-raised md-warn" ng-click="callfile('infiles1')">แนบรูปภาพประกอบ</md-button>
                <hr class="divider" />
                <div class="row img01" id="img01"></div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="error-bold">*กดที่รูปเพื่อลบ</span>
              </div>
            </div>
          </div>
        </form>
        </section>
        <!--End Topline-->
        <!--form serial number-->
        <section ng-show="user.aUsedSerial">
        <form name="frmSerialNumber">
          <div>
            <md-input-container md-no-float>
              <label>ระบุ SERIAL NUMBER CODE YSS</label>
              <input type="text" placeholder="xx-xx-xxxx" name="txtpartserial" ng-model="user.txtpartserial" required md-maxlength="50"  maxlength="50">
              <span class="error" ng-hide="frmSerialNumber.txtpartserial.$valid">*กรุณาระบุ SERIAL NUMBER CODE YSSด้วย</span>
            </md-input-container>
            <md-input-container md-no-float>
              <label>ระบุระบุ ตามวันที่ซื้อสินค้า(กรณีที่ต้องการตรวจสอบตามวันที่ซื้อ)</label>
              <input type="date"  id="txtclaimdate" data-ng-model="user.txtclaimdate" required>
            </md-input-container>
          </div>
        </form>
        </section>
        <!--End serial number -->
        <!--form claim-->
        <section ng-show="user.aUsedClaim">
          <div>
            <md-radio-group ng-model="user.slRdClaim">
               <md-list>
              <md-list-item ng-repeat="n in listclaim">
                <p> {{ n.name }} </p>
                <md-radio-button class="md-secondary" value="{{n.id}}" ng-click="slRdioOptionClaim(user.slRdClaim)"></md-radio-button>
                <md-divider></md-divider>
               </md-list-item>
            </md-list>
            </md-radio-group>
          </div>
        </section>
        <!--End claim -->
        <!--form not claim-->
        <section ng-show="user.aUsedNotClaim">
          <div>
          </div>
        </section>
        <!--End not claim -->
        <!--form show scope pic-->
        <section ng-show="user.aUsedShowScopePic">
          <div>
            <div class="row gallery">
                <div class="col col-50" ng-repeat="img in gallery">
                    <img src="{{img.src}}" class="thumbnail" alt="{{img.name}}">
                </div>
            </div>
          </div>
        </section>
        <!--End nshow scope pic -->
        <!--form show maintrain-->
        <!-- <section ng-show="user.aUsedMaintrain"> -->
          <div ng-show="user.aUsedMaintrain">
            <h1>กรอกข้อมูลเพื่อทำการแจ้งซ่อม</h1>
            <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <md-input-container>
                        <label>ระบุข้อมูลชื่อลูกค้า</label>
                        <input type="text" ng-model="user.custname">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <md-input-container>
                        <label>ที่อยู่</label>
                        <input type="text" ng-model="user.addressname">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <md-input-container>
                        <label>เลือกจังหวัด</label>
                        <input type="text" ng-model="user.provincename">
                      </md-input-container>
                    </div>
                    <div class="col">
                      <md-input-container>
                        <label>เลือกอำเภอ</label>
                        <input type="text" ng-model="user.districtname">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <md-input-container>
                        <label>รหัสไปรษณี</label>
                        <input type="text" ng-model="user.zipname">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <md-input-container>
                        <label>เบอร์โทร</label>
                        <input type="text" ng-model="user.telname">
                      </md-input-container>
                    </div>
                  </div>
                  <hr class="divider">
                  <div class="row">
                    <div class="col">
                      <md-button class="md-raised md-warn" ng-click="callfile('infiles2')">แนบรูปภาพประกอบ</md-button>
                      <hr class="divider" />
                      <div class="row img02 gallery" id="img02"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="error-bold">*กดที่รูปเพื่อลบ</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- ระบุข้อมูลลูกค้า
- ชื่อ  , ที่อยู่  , เบอร์โทร,รูปภาพ -->
        <!--End nshow scope pic -->
      </div>
      <div class="col"></div>
    </div>
    <!--<input type="file" id="fileUpload">-->
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <canvas width="300" height="300" id="canvas01" ng-hide="true"></canvas>
    <input type="file" id="infiles1" ng-hide="true"/>
    <canvas width="300" height="300" id="canvas02" ng-hide="true"></canvas>
    <input type="file" id="infiles2" ng-hide="true"/>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reload()">
      <i class="icon ion-refresh error"></i>
      เริ่มใหม่
    </a>
    <a class="tab-item" myclick="genNext01(user.txtproductnumber,user.txtTatol,user.rdUset)" ng-hide="user.aUseGroup">
      <i class="icon ion-checkmark primary"></i>
      ตรวจสอบกลุ่มสินค้า
    </a>
    <a class="tab-item" myclick="genNext02(user.txtpartserial,user.txtclaimdate)" ng-show="user.aUsedSerial">
      <i class="icon ion-checkmark primary"></i>
      ตรวจสอบประกันสินค้า
    </a>
    <a class="tab-item" myclick="genNext04()" ng-show="user.aUserUset">
      <i class="icon ion-checkmark primary"></i>
      บันทึกข้อมูล
    </a>
    <a class="tab-item" myclick="genNext03()" ng-show="user.aUsedShowScopePic">
      <i class="icon ion-wrench primary"></i>
      รับเคลม
    </a>
    <a class="tab-item" myclick="genNext02(user.txtpartserial,user.txtclaimdate)" ng-show="user.aUsedShowScopePic">
      <i class="icon ion-alert-circled warn"></i>
      ไม่รับเคลม
    </a>
    <a class="tab-item" myclick="genCheckClaim()" ng-show="user.aUsedNotClaim">
      <i class="icon ion-wrench primary"></i>
      รับเคลมเศษ
    </a>
    <a class="tab-item" myclick="genMainter()" ng-show="user.aUsedMaintrain">
      <i class="icon ion-alert-circled warn"></i>
      ส่งซ่อม
    </a>
    <a class="tab-item" myclick="genCheckClaim()" ng-show="user.aUsedMaintrain">
      <i class="icon ion-wrench primary"></i>
      ยกเลิก
    </a>
  </div>
</ion-view>
