<ion-view view-title="เปิดใบเคลม">
  <ion-content>
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <div class="card-list">
          <md-input-container md-no-float>
            <label>ระบุรหัสสินค้า</label>
            <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
              required md-maxlength="50"  maxlength="50" ng-change="setxp(user.txtproductnumber)">
            <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
          </md-input-container>

          <div class="card-select" ng-show="user.stateproduct">
            <md-list ng-cloak >
              <md-list-item ng-repeat="n in listpart | filter:user.txtproductnumber" ng-click="setexp(n.id,n.name)">
                <p> {{ n.name }} </p>
              </md-list-item>
            </md-list>
          </div>

          <md-input-container md-no-float>
            <label>ระบุรหัสสินค้า</label>
            <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
              required md-maxlength="50"  maxlength="50">
            <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
          </md-input-container>
          <md-input-container md-no-float>
            <label>ระบุรหัสสินค้า</label>
            <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
              required md-maxlength="50"  maxlength="50">
            <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
          </md-input-container>
          <md-input-container md-no-float>
            <label>ระบุรหัสสินค้า</label>
            <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
              required md-maxlength="50"  maxlength="50">
            <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
          </md-input-container>
          <md-input-container md-no-float>
            <label>ระบุรหัสสินค้า</label>
            <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
              required md-maxlength="50"  maxlength="50">
            <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
          </md-input-container>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <div class="loadermodal">
           <div class="div-center">
              <span class="icon ion-android-checkmark-circle fa-75 fa-success"></span>
                <hr class="hr-clean"/>
                <h2>บันทึกข้อมูลเสร็จแล้ว</h2>
                <div class="row">
                  <button class="btn-com-success-y" myclick="closeload()">ตกลง</button>
                </div>
            </div>
        </div>
      </ion-modal-view>
    </script>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reload()">
      <i class="icon ion-refresh error"></i>
      เริ่มใหม่
    </a>
    <a class="tab-item" myclick="genNext01()">
      <i class="icon ion-checkmark primary"></i>
      ตรวจสอบกลุ่มสินค้า
    </a>
  </div>
</ion-view>
