<ion-view view-title="รายการสินค้า">
  <ion-content>
    <div>
      <div class="row">
        <div class="col">
          <input type="text" ng-model="user.txtserial"
            placeholder="type serail number" ng-change="checkser(user.txtserial)"
            maxlength="8">
          <button type="button" name="button" ng-click="checkser(user.txtserial)">คำนวน</button>
        </div>
      </div>
      <hr class="divider"/>
      <md-card>
        <md-card-content>
          <h2>Debug</h2>
          <p>{{user.txtdescription}}</p>
        </md-card-content>
      </md-card>
    </div>
    <br /><br />
  </ion-content>
  </div>
</ion-view>
