<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">เมนู</button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" ng-show="Data.showcart">
        <button class="button button-icon icon ion-ios-cart warn"ng-click="confirmordercart()" ng-show="Data.showcart"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <!-- menu app -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">YSS MENU <span class="error">1/7/2016 11:44</span></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.search({mastertype:Data.mastertype, sterritory:Data.termas,nterritory:0})" class="success"
        ng-click="setdmaster(1)" ng-hide="Data.logontype">
          <!-- Sale -->
          <i class="ion-android-calendar"></i>&nbsp;แผนการดำเนินงาน
        </ion-item>
        <ion-item menu-close ui-sref="app.sendplan({territory:Data.masname,mastertype:2})" class="success"
        ng-click="setdmaster(2)" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;แผนการดำเนินงาน
        </ion-item>
        <ion-item menu-close ui-sref="app.listplanned({mastertype:Data.mastertype,retype:1})"
        ui-sref-opts="{reload:true}"  class="success" ng-hide="Data.logontype">
        <!-- Sale -->
          <i class="ion-android-calendar"></i>&nbsp;ผลการดำเนินงาน
        </ion-item>
        <ion-item menu-close href="#/app/resultplan/{{Data.mastertype}}/{{Data.terma}}"  class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;ผลการดำเนินงาน
        </ion-item>
        <ion-item menu-close href="#/app/waitlist"  class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;รายการรออนุมัติ
        </ion-item>
        <ion-item menu-close class="success"  ng-hide="Data.logontype" ng-click= "clicklnk(1)">
          <!-- Sale -->
          <i class="ion-android-calendar"></i>&nbsp;เปิดบัญชีลูกค้า
        </ion-item>
        <ion-item menu-close ui-sref="app.openaccountsup({territoryid:Data.termas,mastertype:Data.mastertype,getguid:Data.getguid})"
         class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;เปิดบัญชีลูกค้า
        </ion-item>
        <ion-item menu-close ng-click= "clicktaccountlist()" class="success" ng-hide="Data.logontype">
          <!-- Sale -->
          <i class="ion-android-calendar"></i>&nbsp;รายการลูกค้า
        </ion-item>
        <ion-item menu-close   class="success" ng-show="Data.logontype" ng-click= "clickter()">
          <i class="ion-android-calendar"></i>&nbsp;รายการลูกค้า
        </ion-item>
        <ion-item menu-close ui-sref="app.adjustmentlist({terid:Data.termas,mastertype:Data.mastertype})"
        class="success" ng-hide="Data.logontype" ui-sref-opts="{reload:true}">
          <!-- Sale -->
          <i class="ion-android-calendar"></i>&nbsp;ปรับปรุงข้อมูลลูกค้า
        </ion-item>
        <ion-item menu-close ui-sref="app.adjustmentlistsupter({tername:Data.Tername,mastertype:Data.mastertype})"
          ui-sref-opts="{reload:true}"  class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;ปรับปรุงข้อมูลลูกค้า
        </ion-item>
        <!-- productlist/:accountid/:mastertype/:ordertype -->
        <ion-item menu-close class="success" ng-click="orderlink(1)">
          <i class="icon ion-bag"></i>&nbsp;รายการสินค้า</ion-item>
        <ion-item menu-close class="success" ng-click="orderlink(2)">
          <i class="icon ion-bag"></i>&nbsp;รายการเปิดใบสั่งขาย</ion-item>
        <ion-item menu-close ui-sref="app.playlists" class="success" ng-show="Data.logonstatus">
          <i class="ion-power"></i>&nbsp;เข้าสู่ระบบ
        </ion-item>
        <ion-item menu-close  class="success" ng-hide="Data.logonstatus" ng-click="clicklogout()">
          <i class="ion-power"></i>&nbsp;ออกจากระบบ
        </ion-item>
        <ion-item menu-close  class="success"  ui-sref="app.exampl">
          <i class="ion-power"></i>&nbsp;Example
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <!-- cart app -->
  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">ตะกร้าสินค้า</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-icon-left">
          สินค้า:
          <span class="item-note">
            <b style="color:red;font-weight:bold;">{{Data.tatolminplus}}</b>&nbsp;ชิ้น
          </span>
        </a>
        <a class="item item-icon-left">
          รวม:
          <span class="item-note">
            <b style="color:red;font-weight:bold;">{{Data.tatolmatch | currency:''}}</b>&nbsp;บาท
          </span>
        </a>
        <a class="item item-icon-left">
          เครดิต:
          <span class="item-note">
            <b style="color:red;font-weight:bold;">{{Data.balancecredit | currency:''}}</b>&nbsp;บาท
          </span>
        </a>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <md-button class="md-raised md-warn" ng-click="confirmordercart()">ยืนยันสั่งซื้อ</md-button>
        </div>
        <div class="col"></div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
