<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">เมนู</button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear" ng-show="Data.showcart" ng-click="confirmordercart()">
          สินค้า:&nbsp;<b style="color:red;font-weight:bold;">{{Data.tatolminplus}}</b>&nbsp;ชิ้น&nbsp;
          รวม:&nbsp;<b style="color:red;font-weight:bold;">{{Data.tatolmatch | currency:''}}</b>&nbsp;บาท&nbsp;
          <!-- <i class="icon ion-ios-cart-outline error"></i> -->
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">YSS MENU</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.search({mastertype:Data.mastertype, sterritory:Data.termas,nterritory:0})" class="success"
        ng-click="setdmaster(1)" ng-hide="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;แผนการดำเนินงาน
        </ion-item>
        <ion-item menu-close ui-sref="app.sendplan({territory:Data.masname,mastertype:2})" class="success"
        ng-click="setdmaster(2)" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;แผนการดำเนินงาน
        </ion-item>
        <ion-item menu-close ui-sref="app.listplanned({mastertype:Data.mastertype,retype:1})"
        ui-sref-opts="{reload:true}"  class="success" ng-hide="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;ผลการดำเนินงาน
        </ion-item>
        <ion-item menu-close href="#/app/resultplan/0/{{Data.mastertype}}"  class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;ผลการดำเนินงาน
        </ion-item>
        <ion-item menu-close href="#/app/waitlist"  class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;รายการรออนุมัติ
        </ion-item>
        <ion-item menu-close class="success"  ng-hide="Data.logontype" ng-click= "clicklnk(1)">
          <i class="ion-android-calendar"></i>&nbsp;เปิดบัญชีลูกค้า
        </ion-item>
        <ion-item menu-close ui-sref="app.openaccountsup({territoryid:Data.termas,mastertype:Data.mastertype,getguid:Data.getguid})"   class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;เปิดบัญชีลูกค้า
        </ion-item>
        <ion-item menu-close ng-click= "clicktaccountlist()" class="success" ng-hide="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;รายการลูกค้า
        </ion-item>
        <ion-item menu-close   class="success" ng-show="Data.logontype" ng-click= "clickter()">
          <i class="ion-android-calendar"></i>&nbsp;รายการลูกค้า
        </ion-item>
        <ion-item menu-close ui-sref="app.adjustmentlist({terid:Data.termas,mastertype:Data.mastertype})"
        class="success" ng-hide="Data.logontype" ui-sref-opts="{reload:true}">
          <i class="ion-android-calendar"></i>&nbsp;ปรับปรุงข้อมูลลูกค้า
        </ion-item>
        <ion-item menu-close ui-sref="app.adjustmentlistsupter({tername:Data.Tername,mastertype:Data.mastertype})"
          ui-sref-opts="{reload:true}"  class="success" ng-show="Data.logontype">
          <i class="ion-android-calendar"></i>&nbsp;ปรับปรุงข้อมูลลูกค้า
        </ion-item>
        <!-- productlist/:accountid/:mastertype/:ordertype -->
        <ion-item menu-close class="success" ng-click="orderlink(1)">
          <i class="icon ion-bag"></i>&nbsp;รายการสินค้า</ion-item>
        <ion-item menu-close class="success" ng-click="orderlink(2)">
          <i class="icon ion-bag"></i>&nbsp;รายการเปิดใบสั่งขาย</ion-item>
        <ion-item menu-close ui-sref="app.playlists" class="success" ng-show="Data.logonstatus">
          <i class="ion-power"></i>&nbsp;เข้าสู่ระบบ
        </ion-item>
        <ion-item menu-close  class="success" ng-hide="Data.logonstatus" ng-click="clicklogout()">
          <i class="ion-power"></i>&nbsp;ออกจากระบบ
        </ion-item>

        <ion-item menu-close href="#/app/rejectplan/1234556/mrddd/D10"  class="success"><i class="ion-android-calendar"></i>&nbsp;Test Reject</ion-item>
        <ion-item menu-close ui-sref="app.plannedactivities"
          ui-sref-opts="{reload:true}" class="success">
          <i class="ion-android-calendar"></i>&nbsp;ทดสอบทำกิจกรรม</ion-item>
        <ion-item menu-close ui-sref="app.listmarketting"
          ui-sref-opts="{reload:true}" class="success">
            <i class="ion-android-calendar"></i>&nbsp;ทดสอบ</ion-item>
        <ion-item menu-close ui-sref="app.optioncomputitor"
          ui-sref-opts="{reload:true}" class="success">
            <i class="ion-android-calendar"></i>&nbsp;ทดสอบบันทึกคู่แข่ง</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
