<ion-view view-title="เข้าสู่ระบบ YSS CRM">
  <ion-content on-scroll="logscroll()">
    <br /><br /><br /><br /><br />
    <div class="container">
      <div id="login">
        <h2><span class="icon ion-locked"></span>&nbsp;YSS CRM</h2>
        <form  method="POST">
          <fieldset>
            <p ng-hide="chk.check"><span class="error">ชื่อผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง</span></p>
            <p ng-hide="chk.checknull"><span class="error">กรุณากรอกข้อมูลให้ครบด้วย</span></p>
            <p><label for="email">ชื่อผู้ใช้งาน</label></p>
            <p><input class="input" type="text" id="email" placeholder="User Name" ng-model="user.txtname"></p>
            <p><label for="password">รหัสผ่าน</label></p>
            <p><input class="input" type="password" id="password" placeholder="Password" ng-model="user.pwdname"></p>
            <p><input class="input" type="submit" value="เข้าสู่ระบบ" ng-click="checkuser(user.txtname,user.pwdname)"></p>
          </fieldset>
        </form>
      </div> <!-- end login -->
    </div>
    <!-- <button type="button" name="button" ng-click="clicknext()">item</button>
     -->
  </ion-content>
</ion-view>
