<ion-view view-title="เข้าสู่ระบบ YSS CRM">
  <ion-content>
    <div class="wrapper">
			<div class="content">
				<div id="form_wrapper" class="form_wrapper">
					<form class="login active">
						<div>
							<label>Username:</label>
							<input type="text" />
							<span class="error">This is an error</span>
						</div>
						<div>
							<label>Password:</label>
							<input type="password" />
							<span class="error">This is an error</span>
						</div>
            <div>
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <md-button class="md-raised md-warn"  aria-label="description" md-no-ink="true" md-ripple-size="auto">เข้าสู่ระบบ</md-button>
                </div>
                <div class="col"></div>
              </div>
            </div>
					</form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
  </ion-content>
</ion-view>
