<ion-modal-view>
        <div class="loadermodal">
           <div class="div-center">
              <span class="icon ion-android-checkmark-circle fa-75 fa-success"></span>
                <hr class="hr-clean"/>
                <div class="row">
                    <div class="col">
                        <h2>&nbsp;{{titlemodal2}}</h2>
                    </div>
                </div>
                <div class="row">
                  <button class="btn-com-error" myclick="close()">ยกเลิก</button>
                  <button class="btn-com-success-y" myclick="confirm()">ตกลง</button>
                </div>
            </div>
        </div>
</ion-modal-view>