<ion-modal-view>
        <div class="loadermodal">
           <div class="div-center">
              <span class="icon ion-alert-circled fa-75 fa-error"></span>
                <hr class="hr-clean"/>
                <div class="row">
                    <div class="col">
                        <h2>&nbsp;{{titlemodal}}</h2>
                    </div>
                </div>
                <br />
                <div class="row">
                  <button class="btn-com-error" myclick="closeload()">ยกเลิก</button>
                  <button class="btn-com-success-y" myclick="confirmload()">ตกลง</button>
                </div>
            </div>
        </div>
</ion-modal-view>