<ion-view view-title="ข้อมูลเครดิต">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
				<div class="row">
					<div class="col">
						<md-input-container>
							<label>เงื่อนไขการชำระเงิน</label>
							<md-select ng-model="user.optionPayment">
									<md-option ng-value="opt.val"
									ng-repeat="opt in PaymentTermOptions|filter:{name:'SD-'}"
									ng-click="checknullcredit(opt.val)">
									{{ opt.name }}</md-option>
							</md-select>
							<span class="text text-danger" ng-hide="chk.optionPayment">* กรุณาระบุเงื่อนไขการชำระเงินด้วย</span>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>จำนวนเครดิต</label>
								<input  type="text" md-maxlength="8" maxlength="8" ng-model="user.txtCreditlimit"
                 ng-disabled="chk.diabledcredit" ng-change="chknull(user.txtCreditlimit)">
								<span class="text text-danger" ng-hide="chk.txtCreditlimit">* กรุณาระบุจำนวนเครดิตด้วย</span>
							</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<md-input-container>
							<label>วิธีการชำระเงิน</label>
							<md-select ng-model="user.optionPaymentType">
									<md-option ng-value="opt.val" ng-repeat="opt in PaymentOptions">{{ opt.name }}</md-option>
							</md-select>
							<span class="text text-danger" ng-hide="chk.optionPaymentType">* กรุณาระบุวิธีการชำระเงินด้วย</span>
							</md-input-container>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col">
						<md-input-container>
								<label>ธนาคารของลูกค้า</label>
								<md-select ng-model="user.optionPaymentBank">
										<md-option ng-value="opt.val" ng-repeat="opt in bankname">{{ opt.name }}</md-option>
								</md-select>
						</md-input-container>
					</div>
					<div class="col">
						<md-input-container>
								<label>หมายเลขบัญชีลูกค้า</label>
								<input type="text" ng-model="user.txtBankBranch" maxlength="20" md-maxlength="20">
						</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<md-input-container>
							<label>ธนาคารYSS</label>
							<md-select ng-model="user.optionPaymentbnkYss">
									<md-option ng-value="opt.name" ng-repeat="opt in banknameyss">{{ opt.name }}</md-option>
							</md-select>
							<span class="text text-danger" ng-hide="chk.optionPaymentbnkYss">* กรุณาระบุธนาคาร YSS ด้วย</span>
						</md-input-container>
					</div>
				</div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="goback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
