<ion-view view-title="ข้อมูลผู้ติดต่อ">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <md-input-container class="md-block" flex-gt-sm>
							<label>ระบุชื่อเจ้าของ</label>
							<input md-maxlength="50" required  ng-model="user.firstname" ng-change="chknull(1,user.firstname)"/>
							<span class="text text-danger" ng-hide="chk.infomatfirstname">* กรุณาระบุชื่อเจ้าของด้วย</span>
						</md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container class="md-block" flex-gt-sm>
							<label>ระบุนามสกุลเจ้าของ</label>
							<input md-maxlength="50" required  ng-model="user.lastname" ng-change="chknull(2,user.lastname)"/>
							<span class="text text-danger" ng-hide="chk.infomatlastname">* กรุณาระบุนามสกุลเจ้าของด้วย</span>
						</md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
						<md-input-container class="md-block" flex-gt-sm>
							<label>โทรศัพท์บ้าน/ร้าน</label>
							<input md-maxlength="10" required  ng-model="user.telhome" maxlength="10"/>
							<span class="text text-danger" ng-hide="chk.infomattelhome">* กรุณาระบุโทรศัพท์บ้าน/ร้านด้วย</span>
						</md-input-container>
				  </div>
					<div class="col">
						<md-input-container class="md-block" flex-gt-sm>
							<label>โทรศัพท์มือถือ</label>
							<input md-maxlength="10" required  ng-model="user.mobile" maxlength="10" ng-change="chknull(3,user.mobile)"/>
							<span class="text text-danger" ng-hide="chk.infomatmobile">* กรุณาระบุโทรศัพท์มือถือด้วย</span>
              <span class="text text-danger" ng-hide="chk.infomatmobilenum">* กรุณาระบุรูปแบบโทรศัพท์มือถือให้ถูกต้องด้วย</span>
						</md-input-container>
				  </div>
        </div>
        <div class="row">
          <div class="col">
						<md-input-container class="md-block" flex-gt-sm>
							<label>โทรสาร/fax</label>
							<input md-maxlength="10" required  ng-model="user.fax" maxlength="10"/>
							<span class="text text-danger" ng-hide="chk.infomatfax">* กรุณาระบุโทรสาร/fax ด้วย</span>
						</md-input-container>
				  </div>
					<div class="col">
						<md-input-container class="md-block" flex-gt-sm>
							<label>อีเมล์</label>
							<input md-maxlength="50" required  ng-model="user.emailname" maxlength="50"  />
							<span class="text text-danger" ng-hide="chk.infomatemailname">* กรุณาระบุอีเมล์ ด้วย</span>
						</md-input-container>
				  </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="goback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
