<ion-view view-title="ข้อมูลการเข้าพบ">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
				<h2>เงือนไขการเข้าพบ</h2>
				<hr />
				<md-list>
					<md-list-item>
						<h3>มีข้อจำกัดการเข้าพบ</h3>
            <md-switch onchange="domdick(this)" class="md-secondary"></md-switch>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
				<div class="row divFnMeet">
					<div class="col">
							<md-input-container>
								<label>เก็บเช็ค/เก็บเงิน&nbsp;&nbsp;&nbsp;วัน</label>
								<md-select ng-model="Meetting.optionDay">
									<md-option ng-value="opt.id" ng-repeat="opt in specialday">{{ opt.name }}</md-option>
								</md-select>
								<span class="text text-danger" ng-hide="chk.infomatoptionDay">* กรุณาระบุวันที่เก็บเช็ค/เก็บเงิน ด้วย</span>
							</md-input-container>
					</div>
					<div class="col">
						<md-input-container>
								<label>ตั้งแต่เวลา</label>
								<md-select ng-model="Meetting.optionStarttime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ถึงเวลา</label>
								<md-select ng-model="Meetting.optionEndtime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
				</div>
				<div class="row divFnMeet">
					<div class="col">
						<md-input-container>
							<label>วางบิล&nbsp;&nbsp;&nbsp;วัน</label>
							<md-select ng-model="Meetting.optionBillingDay">
								<md-option ng-value="opt.id" ng-repeat="opt in specialday">{{ opt.name }}</md-option>
							</md-select>
							<span class="text text-danger" ng-hide="chk.infomatoptionBillingDay">* กรุณาระบุวันที่วางบิล ด้วย</span>
						</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ตั้งแต่เวลา</label>
								<md-select ng-model="Meetting.optionStartBilltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ถึงเวลา</label>
								<md-select ng-model="Meetting.optionEndBilltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
				</div>
				<hr class="divider divFnormal"/>
				<h3 class="divFnormal">วันที่สามารถเข้าพบลูกค้าได้</h3>
				<br class="divFnormal"/>
				<div class="row divFnormal">
					<div class="col">
						<md-checkbox ng-model="Meetting.dataMon"><h5>วันจันทร์</h5></md-checkbox>
						<md-checkbox ng-model="Meetting.dataTue"><h5>วันอังคาร</h5></md-checkbox>
						<md-checkbox ng-model="Meetting.dataWen"><h5>วันพุธ</h5></md-checkbox>
						<md-checkbox ng-model="Meetting.dataThu"><h5>วันพฤหัส</h5></md-checkbox>
						<md-checkbox ng-model="Meetting.dataFri"><h5>วันศุกร์</h5></md-checkbox>
						<md-checkbox ng-model="Meetting.dataSat"><h5>วันเสาร์</h5></md-checkbox>
						<md-checkbox ng-model="Meetting.dataSun"><h5>วันอาทิตย์</h5></md-checkbox>
					</div>
				</div>
				<br class="divFnormal" />
				<h3 class="divFnormal">เวลาที่สามารถเข้าพบลูกค้าได้</h3>
				<div class="row divFnormal">
					<div class="col">
							<md-input-container>
								<label>ตั้งแต่เวลา</label>
								<md-select ng-model="Meetting.optionStartNormaltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ถึงเวลา</label>
								<md-select ng-model="Meetting.optionEndNormaltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
				</div>
				<br />
				<h4>เวลาเปิดร้าน</h4>
				<div class="row">
					 <div class="col">
								<md-input-container>
									<label>ตั้งแต่เวลา</label>
									<md-select ng-model="Meetting.optionStarttimeAvailable">
										<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
									</md-select>
								</md-input-container>
						</div>
						<div class="col">
								<md-input-container>
									<label>ถึงเวลา</label>
									<md-select ng-model="Meetting.optionEndtimeAvailable">
										<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
									</md-select>
								</md-input-container>
						</div>
				</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <md-button class="md-raised md-warn" md-ripple-size="full"><i class="icon ion-android-arrow-back"></i>&nbsp;ย้อนกลับ</md-button>
        <md-button class="md-raised md-success" md-ripple-size="full" ng-click="insertaccount()">ถัดไป&nbsp;<i class="icon ion-android-arrow-forward"></i></md-button>
      </div>
    </div>
  </ion-content>
</ion-view>
