<ion-view view-title="ข้อมูลการเข้าพบ">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <ion-toggle ng-model="user.actionfn" toggle-class="toggle-default"><h2>มีข้อจำกัดการเข้าพบ</h2></ion-toggle>
				<div class="row" ng-show="user.actionfn">
					<div class="col">
							<md-input-container>
								<label>เก็บเช็ค/เก็บเงิน&nbsp;&nbsp;&nbsp;วัน</label>
								<md-select ng-model="user.optionDay">
									<md-option ng-value="opt.id" ng-repeat="opt in specialday">{{ opt.name }}</md-option>
								</md-select>
								<span class="text text-danger" ng-hide="chk.infomatoptionDay">* กรุณาระบุวันที่เก็บเช็ค/เก็บเงิน ด้วย</span>
							</md-input-container>
					</div>
					<div class="col">
						<md-input-container>
								<label>ตั้งแต่เวลา</label>
								<md-select ng-model="user.optionStarttime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ถึงเวลา</label>
								<md-select ng-model="user.optionEndtime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
				</div>
				<div class="row" ng-show="user.actionfn">
					<div class="col">
						<md-input-container>
							<label>วางบิล&nbsp;&nbsp;&nbsp;วัน</label>
							<md-select ng-model="user.optionBillingDay">
								<md-option ng-value="opt.id" ng-repeat="opt in specialday">{{ opt.name }}</md-option>
							</md-select>
							<span class="text text-danger" ng-hide="chk.infomatoptionBillingDay">* กรุณาระบุวันที่วางบิล ด้วย</span>
						</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ตั้งแต่เวลา</label>
								<md-select ng-model="user.optionStartBilltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ถึงเวลา</label>
								<md-select ng-model="user.optionEndBilltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
				</div>
        <!-- Option  -->
        <br />
				<h2 class="divFnormal" ng-hide="user.actionfn">&nbsp;&nbsp;&nbsp;วันที่สามารถเข้าพบลูกค้าได้</h2>
				<br class="divFnormal" ng-hide="user.actionfn"/>
				<div class="row" ng-hide="user.actionfn">
					<div class="col">
						<md-checkbox ng-model="user.dataMon"><h3>วันจันทร์</h3></md-checkbox>
						<md-checkbox ng-model="user.dataTue"><h3>วันอังคาร</h3></md-checkbox>
						<md-checkbox ng-model="user.dataWen"><h3>วันพุธ</h3></md-checkbox>
						<md-checkbox ng-model="user.dataThu"><h3>วันพฤหัส</h3></md-checkbox>
						<md-checkbox ng-model="user.dataFri"><h3>วันศุกร์</h3></md-checkbox>
						<md-checkbox ng-model="user.dataSat"><h3>วันเสาร์</h3></md-checkbox>
						<md-checkbox ng-model="user.dataSun"><h3>วันอาทิตย์</h3></md-checkbox>
					</div>
				</div>
				<br class="divFnormal"  ng-hide="user.actionfn"/>
				<h2 class="divFnormal" ng-hide="user.actionfn">&nbsp;&nbsp;&nbsp;เวลาที่สามารถเข้าพบลูกค้าได้</h2>
				<div class="row divFnormal" ng-hide="user.actionfn">
					<div class="col">
							<md-input-container>
								<label>ตั้งแต่เวลา</label>
								<md-select ng-model="user.optionStartNormaltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>ถึงเวลา</label>
								<md-select ng-model="user.optionEndNormaltime">
									<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
								</md-select>
							</md-input-container>
					</div>
				</div>
				<br />
				<h2>&nbsp;&nbsp;&nbsp;เวลาเปิดร้าน</h2>
				<div class="row">
					 <div class="col">
								<md-input-container>
									<label>ตั้งแต่เวลา</label>
									<md-select ng-model="user.optionStarttimeAvailable">
										<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
									</md-select>
								</md-input-container>
						</div>
						<div class="col">
								<md-input-container>
									<label>ถึงเวลา</label>
									<md-select ng-model="user.optionEndtimeAvailable">
										<md-option ng-value="opt.val" ng-repeat="opt in datetimer">{{ opt.name }}</md-option>
									</md-select>
								</md-input-container>
						</div>
				</div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="goback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
