<ion-view view-title="ข้อมูลที่อยู่สำหรับส่งสินค้า">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
				<md-input-container>
					<label>ชื่อผู้รับ</label>
					<input type="text" is="iron-input" ng-model="user.txtConName" md-maxlength="50" maxlength="50" ng-change="chknull(1,user.txtConName)">
					<span class="text text-danger" ng-hide="chk.infomattxtConName">* กรุณาระบุชื่อผู้รับด้วย</span>
				</md-input-container>
				<md-input-container>
					<label>ที่อยู่เลขที่-ถนน-แขวง/ตำบล</label>
					<input type="text" is="iron-input" ng-model="user.txtAddressProduct" md-maxlength="500" maxlength="500" ng-change="chknull(2,user.txtAddressProduct)">
					<span class="text text-danger" ng-hide="chk.infomattxtAddressProduct">* กรุณาระบุที่อยู่เลขที่-ถนน-แขวง/ตำบล ด้วย</span>
				</md-input-container>
				<div class="row">
					<div class="col">
						<md-input-container>
							<label>จังหวัด</label>
							<md-select ng-model="user.optionProvince">
								<md-option
									ng-value="opt.ivz_addressprovinceid"
									ng-repeat="opt in ProvinceDataList"
									ng-click="getdistricttranspot(opt.ivz_addressprovinceid)">
									{{ opt.ivz_description }}
								</md-option>
							</md-select>
							<span class="text text-danger" ng-hide="chk.infomatoptionProvince">* กรุณาระบุจังหวัด ด้วย</span>
						</md-input-container>
					</div>
					<div class="col">
							<md-input-container>
								<label>เขต/อำเภอ</label>
								<md-select ng-model="user.optionDistrict">
									<md-option ng-value="opt.ivz_addressdistrictid"
									ng-repeat="opt in DistrictlistTransport">
									{{ opt.ivz_name }}</md-option>
								</md-select>
								<span class="text text-danger" ng-hide="chk.infomatoptionDistrict">* กรุณาระบุเขต/อำเภอ ด้วย</span>
							</md-input-container>
					</div>
					<div class="col">
						<md-input-container>
							<label>รหัสไปรษณี</label>
							<input type="text" ng-model="user.txtPostCode" maxlength="5" md-maxlength="5" ng-change="chknull(3,user.txtPostCode)">
							<span class="text text-danger" ng-hide="chk.infomattxtPostCode">* กรุณาระบุรหัสไปรษณีด้วย</span>
						</md-input-container>
					</div>
				</div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="reback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
