<ion-view view-title="ยืนยันเปิดบัญชีลูกค้า">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <h1>ยืนยันการเปิดบัญชี</h1>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col">
            <md-list>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลทั่วไป</h4>
                 </div>
                <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 10"></i>
                <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 10"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลเงื่อนไขการเข้าพบ</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 20"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 20"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลที่อยู่ส่งของ ,Invoice และที่อยู่อื่นๆ</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 30"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 30"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลที่อยู่ขนส่ง</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 40"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 40"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลเอกสารประกอบการเปิดบัญชี</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 50"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 50"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลเครดิต</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 60"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 60"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลร้านค้า</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 70"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 70"></i>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                   <h4>ข้อมูลผู้ติดต่อข้อมูลร้านค้าที่ติดต่อ</h4>
                 </div>
                 <i class="icon ion-checkmark-circled success md-secondary text-h1" ng-if="chk.infomat >= 70"></i>
                 <i class="icon ion-close-circled error md-secondary text-h1" ng-hide="chk.infomat >= 70"></i>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="goback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="confirmnew()">
      <i class="icon ion-android-done"></i>
      ยืนยันการเปิดบัญชีลูกค้า
    </a>
  </div>
</ion-view>
