<ion-view view-title="ข้อมูลเอกสารประกอบการเปิดบัญชี">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
				<span class="text text-danger" ng-hide="chk.docStatus">* กรุณาระบุประเภทบุคคลด้วย</span>
        <ion-toggle ng-model="user.peoplela1" toggle-class="toggle-default" ng-change="chkswitch(1,user.peoplela1)"><h2>นิติบุคคล</h2></ion-toggle>
        <ion-toggle ng-model="user.peoplela2" toggle-class="toggle-default" ng-change="chkswitch(2,user.peoplela2)"><h2>บุคคลธรรมดา</h2></ion-toggle>
				<span class="text text-danger" ng-hide="chk.doc001">* กรุณาเพิ่มเอกสารตามด้านล่างนี้ด้วย</span>
				<div class="publicdoc" ng-show="user.peoplela1">
					<br />
          <h2>สำเนาหนังสือรับรองการจดทะเบียนพาณิชย์</h2>
						<div>
							<br />
              <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="auto">
                <input type="file" id="doc001" onchange="angular.element(this).scope().fileNameChanged(this,1)"/>
                UPLOAD</md-button>

              <input type="file" id="doc001" ng-hide="true"/>
              <canvas id="canvas01" width="578" height="400" ng-hide="true"></canvas>
              <div class="row">
                <div class="col col-75">
                  <img  id="idcImg01"
                </div>
              </div>
						</div>
					<br />
					<!-- <paper-radio-button ng-click="showtoastdoc(this,'rowdoc002')"><h5>ทะเบียนภาษีมูลค่าเพิ่ม( ภพ. 20)</h5></paper-radio-button> -->
          <h2>ทะเบียนภาษีมูลค่าเพิ่ม( ภพ. 20)</h2>
						<div>
							<br />
              <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="auto">
                <input type="file" id="doc001" onchange="angular.element(this).scope().fileNameChanged(this,2)"/>
                UPLOAD</md-button>
              <canvas id="canvas02" width="578" height="400" ng-hide="true"></canvas>
              <div class="row">
                <div class="col col-75">
                  <img  id="idcImg02">
                </div>
              </div>
						</div>
					<br />
					<!-- <paper-radio-button ng-click="showtoastdoc(this,'rowdoc003')"><h5>หนังสือรับรองบริษัท</h5></paper-radio-button> -->
          <h2>หนังสือรับรองบริษัท</h2>
						<div>
							<br />
              <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="auto">
                <input type="file" id="doc001" onchange="angular.element(this).scope().fileNameChanged(this,3)"/>
                UPLOAD</md-button>
              <canvas id="canvas03" width="578" height="400" ng-hide="true"></canvas>
              <input type="file" id="doc003" ng-hide="true"/>
              <div class="row">
                <div class="col col-75">
                  <img  id="idcImg03" ng-click="calldoc('doc003',this)">
                </div>
              </div>
						</div>
            <hr />
				</div>
				<br />
				<div class="rowdoc0067">
          <h2>สำเนาทะเบียนบ้าน(ต้องมี)</h2>
					<span class="text text-danger" ng-hide="chk.doc004">* กรุณาเพิ่มสำเนาสำเนาทะเบียนบ้านด้วย</span>
					<div>
							<br />
              <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="auto">
                <input type="file" id="doc001" onchange="angular.element(this).scope().fileNameChanged(this,4)"/>
                UPLOAD</md-button>
              <canvas id="canvas04" width="578" height="400" ng-hide="true"></canvas>
              <input type="file" id="doc004" ng-hide="true"/>
              <div class="row">
                <div class="col col-75">
                  <img  id="idcImg04" ng-click="calldoc('doc004',this)">
                </div>
              </div>
					</div>
					<br />
          <h2>สำเนาประจำตัวบัตรประชาชน(ต้องมี)</h2>
					<span class="text text-danger" ng-hide="chk.doc005">* กรุณาเพิ่มสำเนาสำเนาประจำตัวบัตรประชาชนด้วย</span>
					<div>
							<br />
              <md-button class="md-raised md-warn" aria-label="description" md-ripple-size="auto">
                <input type="file" id="doc001" onchange="angular.element(this).scope().fileNameChanged(this,5)"/>
                UPLOAD</md-button>
              <canvas id="canvas05" width="578" height="400" ng-hide="true"></canvas>
              <input type="file" id="doc005" ng-hide="true"/>
              <div class="row">
                <div class="col col-75">
                  <img  id="idcImg05" ng-click="calldoc('doc005',this)">
                </div>
              </div>
					</div>
				</div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="goback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
