<ion-view view-title="ข้อมูลร้านค้า">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
				<div class="row">
						<div class="col">
							<h2>ประเภทการขาย</h2>
							<hr class="divider"/>
              <div class="row">
                <div class="col">
                  <span class="text text-danger" ng-hide="chk.SalesPart1">* กรุณาระบุข้อมูลการขายด้วย</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <md-checkbox ng-model="user.SalePart1">มอเตอร์ไซต์</md-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <md-checkbox ng-model="user.SalePart2">รถยนต์</md-checkbox>
                </div>
              </div>
							<div class="row">
							  <div class="col">
							    <md-checkbox ng-model="user.SalePart3">BigBike</md-checkbox>
							  </div>
							</div>
						</div>
						<div class="col">
              <h2>ประเภทกิจการ/ร้านค้า/บริษัท</h2>
  						<hr class="divider"/>
              <div class="row">
                <div class="col">
                  <span class="text text-danger" ng-hide="chk.SalesPart2">* กรุณาระบุข้อมูลประเภทกิจการ/ร้านค้า/บริษัทด้วย</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <md-checkbox ng-model="user.SalePart4">ขายอะไหล่เดิม</md-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <md-checkbox ng-model="user.SalePart5">ขายอะไหล่ตกแต่ง</md-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <md-checkbox ng-model="user.SalePart6">ร้านซ่อม/อู่</md-checkbox>
                </div>
              </div>
						</div>
				</div>
				<div>
				<div>
					<br />
					<h2>รูปภาพเกี่ยวกับร้านค้า</h2>
					<span class="text text-danger" ng-hide="chk.doc006">* กรุณาเพิ่มรูปภาพเกี่ยวกับร้านค้าด้วย</span>
					<hr class="divider"/>
          <div class="row">
            <div class="col">
              <md-button class="md-raised md-warn" aria-label="description"  md-ripple-size="auto">
                <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)">
                UPLOAD</md-button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img id="imgoc006" ng-hide="true">
  						<canvas id="canvas06" width="578" height="400" ng-hide="true"></canvas>
  						<span class="text text-danger" ng-hide="false">* กดที่รูปภาพเพื่อลบออก</span>
              <div class="row" id ="divspace"></div>
            </div>
          </div>
				</div>
				<br />
				<div class="row">
					<div class="col">
            <h2>สถานะของที่ตั้ง</h2>
            <hr class="divider"/>
            <div class="row">
              <div class="col">
                <span class="text text-danger" ng-hide="chk.PlaceStatus">* กรุณาเพิ่มสถานะของที่ตั้งด้วย</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <md-checkbox ng-model="user.PlaceStatus1">เซ้ง</md-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <md-checkbox ng-model="user.PlaceStatus2">ซื้อ</md-checkbox>
              </div>
            </div>
					</div>
				</div>
				<div class="row">
						<div class="col">
							<md-input-container>
								<label>จำนวนคูหา</label>
								<input type="text" ng-model="user.tatofactory" maxlength="10" md-maxlength="10" ng-change="chknull(1,user.tatofactory)">
								<span class="text text-danger" ng-hide="chk.tatofactory">* กรุณาระบุจำนวนคูหาด้วย</span>
							</md-input-container>
						</div>
						<div class="col">
							<md-input-container>
								<label>จำนวนพนักงานทั้งสิ้น</label>
								<input type="text" ng-model="user.tatolnumber" maxlength="10" md-maxlength="10" ng-change="chknull(2,user.tatolnumber)">
								<span class="text text-danger" ng-hide="chk.tatolnumber">* กรุณาระบุจำนวนพนักงานด้วย</span>
							</md-input-container>
						</div>
				</div>
      </div>
    </div>
  </div>
    <br />
    <br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="goback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
