<ion-view view-title="ข้อมูลทั่วไป">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-10"></div>
          <div class="col">
            <span class="text error" ng-show="chk.infocheck">* เลขที่บัตรประชาชน หรือ เลขที่ผู้เสียภาษีมีการเปิดบัญชีไปแล้ว</span>
    				<md-input-container class="md-block" flex-gt-sm>
              <label>ระบุเลขที่บัตรประชาชน หรือ เลขที่ผู้เสียภาษี</label>
              <input md-maxlength="13" type="text" required ng-model="user.txtid"  maxlength="13" ng-change="checktxt(user.txtid)"/>
    					<span class="text error" ng-hide="chk.infomat">* กรุณาระบุเลขที่บัตรประชาชน หรือ เลขที่ผู้เสียภาษีด้วย</span>
              <span class="text error" ng-show="chk.txtid">* กรุณาระบุเลขที่บัตรประชาชน หรือ เลขที่ผู้เสียภาษีให้ครบ 13 หลักด้วย</span>
            </md-input-container>
    				<md-input-container class="md-block" flex-gt-sm>
              <label>ระบุชื่อลูกค้า/ชื่อร้านค้า/ชื่อบริษัท</label>
              <input md-maxlength="50" required  ng-model="user.txtname" ng-change="checkname(user.txtname)"/>
    					<span class="text error" ng-show="chk.infomattxtname">* กรุณาระบุชื่อลูกค้า/ชื่อร้านค้า/ชื่อบริษัทด้วย</span>
            </md-input-container>
    				<hr class="divider"/>
            <br />
    				<h4>สาขาร้านค้า/บริษัท</h4>
    				<md-radio-group ng-model="user.branchselect">
    						<md-radio-button value="0"><h5>สำนักงานใหญ่</h5></md-radio-button>
    						<md-radio-button value="1"><h5>สาขาย่อย</h5></md-radio-button>
    				</md-radio-group>
    				<div ng-hide="user.branchselect == '0' || user.branchselect == ''">
    						<md-input-container class="md-block" flex-gt-sm>
    		          <label>สาขาสำนักงาน</label>
    		          <input md-maxlength="50" required  ng-model="user.txtbrancher"/>
    							<!-- <span class="text error" ng-if="user.branchselect == '1'">* กรุณาระบุสาขาย่อยด้วย</span> -->
    		        </md-input-container>
    				</div>
            <md-progress-linear value="140" ng-value="chk.buffervalue" ng-show="chk.buffervalue"></md-progress-linear>
          </div>
          <div class="col col-10"></div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item error" ng-click="reback()">
      <i class="icon ion-android-arrow-back"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item success" ng-click="insertaccount()">
      <i class="icon ion-android-arrow-forward"></i>
      ถัดไป
    </a>
  </div>
</ion-view>
