<ion-view view-title="เลือกลูกค้า">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="filtertxt">
      </label>
      <md-button class="md-raised button-clear md-warn" aria-label="description" md-ripple-size="auto" ng-click="filtertxt = ''">&nbsp;ยกเลิก&nbsp;</md-button>
    </div>
    <div class="card" ng-hide="user.cards">
      <div class="item item-text-wrap">
        <md-list ng-show="user.checkaccount">
          <md-list-item class="md-3-line" ng-repeat="n in listaccount | filter:{filtername:filtertxt}"
          ng-click="planeddetail(Data.mastertype,n.accountid,n.name,n.territoryid.id,n.ivz_addressprovince.id,n.ivz_addressdistrict.id,n.ivz_taxid)">
            <img src="{{n.avator}}" class="md-avatar" alt="testt" />
             <div class="md-list-item-text" layout="column">
               <h3>{{n.filtername}}</h3>
               <p ng-show="n.ivz_planningstatus">สถานะ:&nbsp;<span class="success">อนุมัติแผนการดำเนินงานแล้ว</span></p>
               <p>สถานะ:<span style="color:#264348;font-weight:bold;">Actived</span></p>
             </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error"
             ng-click="planeddetail(Data.mastertype,n.accountid,n.name,n.territoryid.id,n.ivz_addressprovince.id,n.ivz_addressdistrict.id,n.ivz_taxid)"></a>
         </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="loadprocress(1)">
      <i class="icon ion-ios-reload primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item" ng-click="loadprocress(1)">
      <i class="icon ion-calendar warn"></i>
      ลูกค้าตามแผนการดำเนินงาน
    </a>
    <a class="tab-item" ng-click="loadprocress(2)">
      <i class="icon ion-android-person-add success"></i>
      ลูกค้าค้างชำระ
    </a>
    <a class="tab-item" ng-click="loadprocress(3)">
      <i class="icon ion-android-person error"></i>
      ลูกค้าปกติ
    </a>
    <!-- <a class="tab-item" ng-click="loadprocress(3)">
      <i class="icon ion-android-contact warning"></i>
      ลูกค้าเป้าหมาย
    </a> -->
  </div>
</ion-view>
