<ion-view view-title="แผนการดำเนินงาน">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="n in listactivities">
            <img src="{{n.avator}}" class="md-avatar" alt="testt" />
            <div class="md-list-item-text" layout="column">
              <h3>{{n.name}}</h3>
            </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="goop(n.idlnk)"></a>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item shake" ng-click="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
  </div>
</ion-view>
