<ion-view view-title="แผนการดำเนินงาน">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item>
            <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">เปิดบัญชีลูกค้าใหม่</span></h2>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="goop(1)"></a>
          </md-list-item>
          <md-list-item>
            <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">แก้ไขข้อมูลลูกค้า</span></h2>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(2)"></a>
          </md-list-item>
         <md-list-item>
            <div class="md-list-item-text" layout="column" ng-click="goop(3)">
              <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">เปิดใบสั่งขาย</span></h2>
            </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(3)"></a>
          </md-list-item>
        <md-list-item>
          <div class="md-list-item-text" layout="column">
            <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">รับเคลมสินค้า</span></h2>
          </div>
          <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(4)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">บันทึกลูกค้าค้าดหวัง</span></h2>
            </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="goop(5)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">สภาพการตลาด</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="goop(6)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">บันทึกคู่แข่ง</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(7)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">เก็บเงิน/วางบิล</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(8)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">บันทึกสภาพการตลาด</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(10)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">นำเสนอสินค้า</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(11)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">PRODUCT RECALL</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(9)"></a>
        </md-list-item>
        <md-list-item>
           <div class="md-list-item-text" layout="column">
             <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">กิจกรรมทางการตลาด</span></h2>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="goop(10)"></a>
        </md-list-item>
        </md-list>
      </div>
    </div>
    <br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item shake" ng-click="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
  </div>
</ion-view>
