<ion-view view-title="ลูกค้าที่ขออนุมัติเปลี่ยนแปลงข้อมูล">
  <ion-content>
    <div>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="filtertxt">
        </label>
        <md-button class="md-raised button-clear md-warn" aria-label="description" md-ripple-size="auto">&nbsp;ยกเลิก&nbsp;</md-button>
      </div>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="n in listaccount | filter:filtertxt"
        ng-click="showcomment($index,n.ivz_accountadjustmentid,n.ivz_name,n.ivz_territory,n.ivz_remark)">
          <img src="img/d05.png" class="md-avatar" alt="testt" />
           <div class="md-list-item-text" layout="column">
             <h3>{{n.ivz_customernumber.primaryName}}</h3>
             <p>
                <span class="success" ng-show="n.ivz_adjgenname">ปรับปรุงข้อมูลชื่อ</span>
                <span class="success" ng-show="n.ivz_adjgenaddress">ปรับปรุงข้อมูลที่อยู่</span>
                <span class="success" ng-show="n.ivz_adjgentransport">ปรับปรุงข้อมูลขนส่ง</span>
                <span class="success" ng-show="n.ivz_adjgencontact">ปรับปรุงข้อมูลผู้ติดต่อ</span>
             </p>
             <p>วันที่ร้องขอ<span style="color:red;font-weight:bold;">:{{n.ivz_transdate | date:'dd/MM/yyyy HH:mm'}}</span></p>
           </div>
           <a class="md-secondary ion-trash-a text-h1 text-bold error" ng-click="removeitem($index)"></a>
           <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </div>
    <br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reload()">
      <i class="icon ion-ios-reload primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item" ng-click="approveaccount()">
      <i class="icon ion-checkmark-circled primary"></i>
      อนุมัติทั้งหมด
    </a>
    <a class="tab-item" ng-click="rejectapprove()">
      <i class="icon ion-android-cancel error"></i>
      ไม่อนุมัติทั้งหมด
    </a>
  </div>
</ion-view>
