<ion-view view-title="เลือกรูปแบบการเปลี่ยนแปลงข้อมูล">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="n in listpromote">
            <img src="{{n.avator}}" class="md-avatar" alt="testt" />
             <div class="md-list-item-text" layout="column">
               <h2>{{n.name}}</h2>
             </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="golink(n.name,n.link)"></a>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
