<ion-view view-title="เปิดใบเคลม">
  <ion-content>
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <div>
          <span class="error">*สินค้าที่มีการตอก F/S จะไม่มีการรับเคลมทุกกรณี</span>
          <hr class="divider" />
          <div class="item-input-inset">
            <md-input-container md-no-float>
              <label>ระบุรหัสสินค้า</label>
              <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
                required md-maxlength="50"  maxlength="50">
              <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
            </md-input-container>
            <md-button class="md-raised button-clear md-warn"
            aria-label="description" md-ripple-size="auto" ng-show="user.txtproductnumber" ng-click="exproduct(user.txtproductnumber)">&nbsp;ค้นหา&nbsp;</md-button>
          </div>
          <div ng-show="user.productplace">
            <md-list ng-cloak>
              <md-list-item ng-repeat="n in user.productlist | filter:user.txtproductnumber" ng-click="setexp(n.productnumber,n.productid)">
                <p> {{ n.filtername }} </p>
              </md-list-item>
            </md-list>
          </div>
          <md-input-container md-no-float>
            <label>ระบุจำนวนสินค้า</label>
            <input type="text" ng-model="user.txtTatol" required md-maxlength="6"  maxlength="6" ng-click="user.txtTatol =''">
            <span class="error" ng-hide="user.txtTatol">*กรุณาระบุจำนวนสินค้าด้วย</span>
          </md-input-container>
          <hr class="divider">
          <md-radio-group ng-model="user.rdUset">
            <md-radio-button value="0">ยังไม่เคยใช้งาน</md-radio-button>
            <md-radio-button value="1">เคยใช้งานมาแล้ว</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <!--<input type="file" id="fileUpload">-->
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reload()">
      <i class="icon ion-refresh error"></i>
      เริ่มใหม่
    </a>
    <a class="tab-item" myclick="genNext01(user.txtproductnumber,user.txtTatol,user.rdUset)">
      <i class="icon ion-checkmark primary"></i>
      ตรวจสอบกลุ่มสินค้า
    </a>
  </div>
</ion-view>
