<ion-view view-title="กรอกข้อมูล">
  <ion-content>
    <br />
    <div>
      <div class="row gallery">
        <div class="col"></div>
        <div class="col col-75">
            <span class="primary-blue">{{txt}}</span>
            <hr class="divider"/>
            <div ng-show="user.getTypeHide">
              <md-input-container md-no-float>
                <label>ระบุ part ที่ต้องการเปลี่ยน</label>
                <input type="text" placeholder="YSS PARTNAME" name="txtpartname"
                  ng-model="user.txtpartname" required md-maxlength="50"  maxlength="50">
                <span class="error" ng-hide="user.txtpartname">*กรุณาระบุ part ด้วย</span>
              </md-input-container>
              <md-input-container md-no-float ng-hide="user.txtpartname.length > 2">
                <label>ระบุ part ที่ต้องการเปลี่ยน</label>
                <md-select ng-model="user.txtpartname">
                  <md-option><em>None</em></md-option>
                  <md-option ng-repeat="n in listpartname | filter:name:user.txtpartname" ng-value="n.name" ng-click="seteoption(n.typeline,n.id)">
                    {{n.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div>
              <md-input-container md-no-float>
                <label>ระบุเลขที่เอกสาร</label>
                <input type="text" placeholder="CLAIM NUMBER" name="txtclaim" ng-model="user.txtclaim" required md-maxlength="50" maxlength="50">
                <span class="error" ng-hide="user.txtclaim">*กรุณาระบุเลขที่เอกสารด้วย</span>
              </md-input-container>
              <hr class="divider">
              <h4>วิธีการที่จะส่งสินค้ามาที่บริษัท</h4>
              <md-radio-group ng-model="user.rdUserSet">
                <md-radio-button value="0">ถือสินค้ามาเอง</md-radio-button>
                <md-radio-button value="1">ส่ง EMS</md-radio-button>
              </md-radio-group>
              <md-input-container md-no-float>
                <label>ระบุอาการที่พบ</label>
                <input type="text"
                  ng-model="user.txtpartnamecomment" required md-maxlength="500"  maxlength="500">
              </md-input-container>
              <md-input-container md-no-float>
                <label>Remark</label>
                <input type="text"
                  ng-model="user.txtremark" required md-maxlength="500"  maxlength="500">
              </md-input-container>
              <hr class="divider">
                <div class="row">
                  <div class="col">
                    <md-button class="md-raised md-warn" ng-click="clickfile()">แนบรูปภาพประกอบ</md-button>
                    <hr class="divider"/>
                    <canvas id="canvas01" width="578" height="400" ng-hide="true"></canvas>
                    <div class="row" id="img01">
                      <div class="img01 gallery" ng-repeat="n in user.filedoc" ng-bind-html ="n.doc"></div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col">
                        <span class="error-bold">*กดที่รูปเพื่อลบ</span>
                      </div>
                    </div>
                  </div>
                </div>
              <hr class="divider">
                <div class="row">
                  <div class="col">
                    <md-button class="md-raised md-warn">ข้อมูลเพิ่มเติม</md-button>
                    <div>
                      <hr class="divider"/>
                      <!--<h4>{{user.custname }} ต้องการเคลม: {{user.productitem}} จำนวน: {{user.itemamount}} ตัว</h4>
                      <br />-->
                      <h4>ที่อยู่ที่ส่งของให้ลูกค้า {{user.addresstransport}}</h4>
                    </div>
                  </div>
                </div>
            </div>
            <input type="file" id="filenote" ng-hide="true">
          </div>
        <div class="col"></div>
      </div>
    </div>
    <br /><br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-refresh success"></i>
      ตรวจสอบข้อมูล
    </a>
    <a class="tab-item" myclick="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item"  myclick="saveclaim()">
      <i class="icon ion-wrench primary"></i>
      บันทึก
    </a>
  </div>
</ion-view>
