<ion-view view-title="เปิดใบเคลม">
  <ion-content>
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <div>
          <md-checkbox md-no-ink ng-true-value="1" ng-false-value="0" ng-model="user.chkfs" ng-change="expr(user.chkfs)">มีการตอก  F/S</md-checkbox>
          <br>
          <md-input-container md-no-float>
            <label>ระบุรหัสสินค้า</label>
            <input type="text" placeholder="YSS ITEM CODE" name="txtproductnumber" ng-model="user.txtproductnumber"
              required md-maxlength="50"  maxlength="50" ng-change="exproduct(user.txtproductnumber)">
            <span class="error" ng-hide="user.txtproductnumber">*กรุณาระบุรหัสสินค้าด้วย</span>
          </md-input-container>
          <md-list ng-cloak ng-show="user.productplace">
            <md-subheader class="md-no-sticky">เลือกรหัสสินค้า</md-subheader>
            <md-list-item ng-repeat="n in user.productlist | filter:user.txtproductnumber" ng-click="setexp(n.productnumber,n.productid)">
              <p> {{ n.filtername }} </p>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
          <md-input-container md-no-float>
            <label>ระบุจำนวนสินค้า</label>
            <input type="text" ng-model="user.txtTatol" required md-maxlength="6"  maxlength="6">
            <span class="error" ng-hide="user.txtTatol">*กรุณาระบุจำนวนสินค้าด้วย</span>
          </md-input-container>
          <hr class="divider">
          <md-radio-group ng-model="user.rdUset">
            <md-radio-button value="0">เคยใช้งานมาแล้ว</md-radio-button>
            <md-radio-button value="1">ยังไม่เคยใช้งาน</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <!--<input type="file" id="fileUpload">-->
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reload()">
      <i class="icon ion-refresh error"></i>
      เริ่มใหม่
    </a>
    <a class="tab-item" myclick="genNext01(user.txtproductnumber,user.txtTatol,user.rdUset)">
      <i class="icon ion-checkmark primary"></i>
      ตรวจสอบกลุ่มสินค้า
    </a>
  </div>
</ion-view>
