<ion-view view-title="เลือกลูกค้า">
  <ion-content on-scroll="logscroll()">
    <div>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="filtertxt">
        </label>
        <md-button class="md-raised button-clear md-warn" aria-label="description" md-ripple-size="auto">&nbsp;ยกเลิก&nbsp;</md-button>
      </div>
      <div class="row">
          <div class="col">
            <md-radio-group ng-model="group.accountid">
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="n in listaccount | filter:filtertxt">
                  <img src="img/d05.png" class="md-avatar" alt="testt" />
                   <div class="md-list-item-text" layout="column">
                     <h3>{{n.filtername}}</h3>
                   </div>
                   <md-radio-button value="{{n.accountid}}" class="md-secondary md-warn"></md-radio-button>
                 </md-list-item>
               <md-divider></md-divider>
              </md-list>
            </md-radio-group>
          </div>
      </div>
    </div>
    <br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reloader()">
      <i class="icon ion-ios-reload primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item" ng-click="cAdjustment()">
      <i class="icon ion-checkmark-circled primary"></i>
      ปรับปรุงข้อมูลทั่วไป
    </a>
    <a class="tab-item" ng-click="cAdjustmentCredit()">
      <i class="icon ion-android-cancel error"></i>
      ปรับปรุงข้อมูลเครดิต
    </a>
  </div>
</ion-view>
