<ion-view view-title="ข้อมูลที่อยู่ลูกค้า">
  <ion-content on-scroll="logscroll()">
     <div>
       <div class="row">
         <div class="col"></div>
         <div class="col col-75">
           <!-- <span style="color:red;">{{debuglog}}</span> -->
              <label class="item-input item-floating-label">
                <span style="color:red;font-weight:bold;" ng-hide="user.txtcode"><br />กรุณาระบุประเภทที่อยู่(INVOICE,DELIVERY)ด้วย</span>
                <span class="input-label">ประเภทที่อยู่</span>
                <input type="text" placeholder="ระบุประเภทที่อยู่" ng-model="user.txtcode"
                ng-change="searchtype(user.txtcode)">
              </label>
              <div class="list" ng-hide="chk.accounttype">
                <li class="item itemlist" ng-repeat="n in adjusttype | filter:user.txtcode"
                ng-click="cSetType(n.val,n.name)">{{n.name}}</li>
              </div>
              <hr class="divider"/>
              <label class="item-input item-floating-label">
                <span style="color:red;font-weight:bold;" ng-hide="user.txtname"><br />กรุณาระบุชื่อผู้รับด้วย</span>
                <span class="input-label">ชื่อผู้รับ</span>
                <input type="text" placeholder="ชื่อร้าน/ลูกค้า/บริษัท" ng-model="user.txtname">
              </label>
              <label class="item-input item-floating-label">
                <span style="color:red;font-weight:bold;" ng-hide="user.txtaddress"><br />กรุณาระบุที่อยู่ด้วย</span>
                <span class="input-label">ที่อยู่</span>
                <input type="text" placeholder="ที่อยู่" ng-model="user.txtaddress">
              </label>
              <label class="item-input item-floating-label">
                <span style="color:red;font-weight:bold;" ng-hide="user.txtprovice"><br />กรุณาระบุจังหวัดด้วย</span>
                <span class="input-label">จังหวัด</span>
                <input type="text" placeholder="ที่อยู่ของลูกค้า - ชื่อจังหวัด" ng-model="user.txtprovice"
                ng-change="searchProvince(user.txtprovice)">
              </label>
              <hr class="divider" ng-hide="chk.addresprovice"/>
              <div class="list" ng-hide="chk.addresprovice">
                <li class="item itemlist" ng-repeat="n in provincelist | filter:user.txtprovice"
                ng-click="cSetTypeProvince(n.ivz_addressprovinceid,n.ivz_description)">{{n.ivz_description}}</li>
              </div>
              <label class="item-input item-floating-label">
                <span style="color:red;font-weight:bold;" ng-hide="user.txtdistrict"><br />กรุณาระบุเขตอำเภอด้วยด้วย</span>
                <span class="input-label">เขต</span>
                <input type="text" placeholder="ที่อยู่ของลูกค้า - ชื่อเขต"
                  ng-model="user.txtdistrict"
                  ng-change="searchDistrict(user.txtdistrict)">
              </label>
              <hr class="divider" ng-hide="chk.addressdistrict"/>
              <div class="list" ng-hide="chk.addressdistrict">
                <li class="item itemlist" ng-repeat="n in districtlist | filter:user.txtdistrict"
                ng-click="cSetTypeDistrict(n.ivz_addressdistrictid,n.ivz_name)">{{n.ivz_name}}</li>
              </div>
              <label class="item-input item-floating-label">
                <span style="color:red;font-weight:bold;" ng-hide="user.txtzipcode"><br />กรุณาระบุรหัสไปรษณีย์ด้วย</span>
                <span class="input-label">รหัสไปรษณี</span>
                <input type="text" placeholder="รหัสไปรษณี" ng-model="user.txtzipcode">
              </label>
              <section ng-if="chk.section == 2 || chk.section == '-1'">
                <hr class="divider"/>
                <span style="color:red;font-weight:bold;" ng-hide="user.doc01 || user.doc02 || user.doc03"><br />กรุณาแนบไฟล์ตามด้านล่างนี้ด้วย</span>
                <br />
                <md-button class="md-raised md-warn" md-ripple-size="full">
                  <input type="file" id="doc01" onchange="angular.element(this).scope().fileNameChanged(this,1)"/>
                  1.แนบสำเนาหนังสือรับรองการจดทะเบียนพาณิชย์
                </md-button>
                <div ng-hide="chk.doc01">
                  <canvas id="canvas01" width="578" height="400" ng-hide="true"></canvas>
                  <div class="row">
                    <div class="col col-75">
                      <img class="thumbnail"  id="idcImg01">
                    </div>
                  </div>
                </div>
                <br />
                <md-button class="md-raised md-warn" md-ripple-size="full">
                  <input type="file" id="doc01" onchange="angular.element(this).scope().fileNameChanged(this,2)"/>
                  2.แนบทะเบียนภาษีมูลค่าเพิ่ม( ภพ. 20)
                </md-button>
                <div  ng-hide="chk.doc02">
                  <canvas id="canvas02" width="578" height="400" ng-hide="true"></canvas>
                  <input type="file" id="doc02" ng-hide="true"/>
                  <div class="row">
                    <div class="col col-75">
                      <img class="thumbnail"  id="idcImg02">
                    </div>
                  </div>
                </div>
                <br />
                <md-button class="md-raised md-warn" md-ripple-size="full">
                  <input type="file" id="doc01" onchange="angular.element(this).scope().fileNameChanged(this,3)"/>
                  3.แนบหนังสือรับรองบริษัท</md-button>
                <div class="" ng-hide="chk.doc03">
                  <canvas id="canvas03" width="578" height="400" ng-hide="true"></canvas>
                  <input type="file" id="doc03" ng-hide="true"/>
                  <div class="row">
                    <div class="col col-75">
                      <img class="thumbnail"  id="idcImg03">
                    </div>
                  </div>
                </div>
              </section>
              <hr class="divider"/>
              <span style="color:red;font-weight:bold;" ng-hide="user.doc04">กรุณาแนบสำเนาประจำตัวบัตรประชาชนด้วย</span>
              <p />
              <md-button class="md-raised md-warn" md-ripple-size="full">
                <input type="file" id="doc01" onchange="angular.element(this).scope().fileNameChanged(this,4)"/>
                สำเนาประจำตัวบัตรประชาชน(ต้องมี)</md-button>
              <div class="" ng-hide="chk.doc04">
                <canvas id="canvas04" width="578" height="400" ng-hide="true"></canvas>
                <input type="file" id="doc04" ng-hide="true"/>
                <div class="row">
                  <div class="col col-75">
                    <img class="thumbnail"  id="idcImg04">
                  </div>
                </div>
              </div>
              <br />
              <span style="color:red;font-weight:bold;" ng-hide="user.doc05">กรุณาแนบสำเนาทะเบียนบ้านด้วย</span>
              <p />
              <md-button class="md-raised md-warn" md-ripple-size="full">
                <input type="file" id="doc01" onchange="angular.element(this).scope().fileNameChanged(this,5)"/>
                สำเนาทะเบียนบ้าน(ต้องมี)</md-button>
              <div class="" ng-hide="chk.doc05">
                <canvas id="canvas05" width="578" height="400" ng-hide="true"></canvas>
                <input type="file" id="doc05" ng-hide="true"/>
                <div class="row">
                  <div class="col col-75">
                    <img class="thumbnail"  id="idcImg05">
                  </div>
                </div>
              </div>
         </div>
         <div class="col"></div>
       </div>
     </div>
     <br /><br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="cAdjustmentCancel()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item" ng-click="cAdjustment()">
      <i class="icon ion-checkmark success"></i>
      บันทึกข้อมูล
    </a>
  </div>
</ion-view>
