<ion-view view-title="เพิ่มข้อมูล">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <div>
          <hr class="divider" />
          <div class="row">
            <div class="col">
              <md-button class="md-raised md-warn" ng-click="callfile()">แนบรูปภาพประกอบ</md-button>
              <br />
              <div class="row img01" id="img01"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="error-bold">*กดที่รูปเพื่อลบ</span>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="col"></div>
    </div>
    <br /><br />
    <canvas width="300" height="300" id="canvas01" ng-hide="true"></canvas>
    <input type="file" id="infiles" ng-hide="true"/>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item" ng-click="cInsert()">
      <i class="icon ion-checkmark primary"></i>
      บันทึกข้อมูล
    </a>
  </div>
</ion-view>
