<ion-view view-title="Shelf Share">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col col-90">
        <div>
          <div class="row">
            <div class="col">
              <md-input-container>
                <label>ชื่อร้าน/ลูกค้า</label>
                <input type="text" ng-model="user.txtcustomer" md-maxlength="500" maxlength="500" ng-change="settrue(1,user.txtcustomer,user.useritem)">
              </md-input-container>
              <div ng-hide="user.useritem">
                <ul class="list">
                  <li class="item" ng-repeat="n in user.optionslist | filter:user.txtcustomer" ng-click="setfalse(1,n.id,n.name,user.useritem)">{{n.name}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <md-input-container>
                <label>ประเภทสินค้า(Auto,Moto)</label>
                <input type="text" ng-model="user.producttype" md-maxlength="500" maxlength="500" ng-change="settrue(2,user.producttype,user.usertypeproduct)">
              </md-input-container>
              <div class="" ng-hide="user.usertypeproduct">
                <ul class="list">
                  <li class="item" ng-repeat="n in user.optionslist | filter:user.producttype" ng-click="setfalse(2,n.id,n.name,user.usertypeproduct)">{{n.name}}</li>
                </ul>
              </div>
            </div>
            <div class="col">
              <md-input-container>
                <label>ยี่ห้อ</label>
                <input type="text" ng-model="user.productband" md-maxlength="500" maxlength="500" ng-change="settrue(3,user.productband,user.userband)">
              </md-input-container>
              <div class="" ng-hide="user.userband">
                <ul class="list">
                  <li class="item" ng-repeat="n in user.optionslist | filter:user.productband" ng-click="setfalse(3,n.id,n.name,user.userband)">{{n.name}}</li>
                </ul>
              </div>
            </div>
            <div class="col">
              <md-input-container>
                <label>ส่วนแบ่งทางการตลาด %</label>
                <input type="text" ng-model="user.percenter" md-maxlength="3" maxlength="3">
              </md-input-container>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <md-button class="md-raised md-warn" ng-click="callfile()">แนบรูปภาพประกอบ</md-button>
              <br />
              <div class="row img01" id="img01"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="error-bold">*กดที่รูปเพื่อลบ</span>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="col"></div>
    </div>
    <br /><br />
    <br /><br />
    <canvas width="300" height="300" id="canvas01" ng-hide="true"></canvas>
    <input type="file" id="infiles" ng-hide="true"/>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item" ng-click="cInsert()" ng-if="Data.selfshare.length > 0">
      <i class="icon ion-checkmark primary"></i>
      ดูข้อมูล
    </a>
    <a class="tab-item" ng-click="cAddCustomer()">
      <i class="icon ion-plus warn"></i>
      เพิ่มข้อมูล
    </a>
  </div>
</ion-view>
