<ion-view view-title="เลือกรูปแบบบันทึกรายงานคู่แข่ง">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <div>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="n in listoptioncomputitor">
              <img ng-src="img/ionic.png" class="md-avatar" alt="testt" />
               <div class="md-list-item-text" layout="column">
                 <h3>{{n.name}}</h3>
               </div>
               <i class="md-secondary icon ion-chevron-right error-bold" ng-click="tosref(n.link,n.type)"></i>
               <md-divider ng-if="!$last"></md-divider>
             </md-list-item>
          </md-list>
          <br />
        </div>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
    <!-- <a class="tab-item" ng-click="cInsert()">
      <i class="icon ion-checkmark primary"></i>
      บันทึกข้อมูล
    </a> -->
  </div>
</ion-view>
