<ion-view view-title="รายงานสินค้าปลอม">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col col-90">
        <div class="row">
          <div class="col">
            <md-input-container>
              <label>เลือกยี่ห้อสินค้า</label>
              <md-select ng-model="user.bannerid">
                  <md-option ng-value="opt.id" ng-repeat="opt in listproductname">{{ opt.name }}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col">
            <md-input-container>
              <label>เลือกประเภทสินค้า</label>
              <md-select ng-model="user.producttype">
                  <md-option ng-value="opt.id" ng-repeat="opt in listtypeproduct">{{ opt.name }}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container>
              <label>เลือกแคมเปญ</label>
              <md-select ng-model="user.productcaimplign">
                  <md-option ng-value="opt.id" ng-repeat="opt in listcampaign">{{ opt.name }}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col">
            <md-input-container>
              <label>ราคาขายส่งปกติ</label>
              <input type="text" ng-model="user.perpricenormal" maxlength="10" md-maxlength="10">
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container>
              <label>ราคาขายปลีก</label>
              <input type="text" ng-model="user.priceperunit" md-maxlength="10" maxlength="10">
            </md-input-container>
          </div>
          <div class="col">
            <md-input-container>
              <label>ยอดขายต่อเดือน</label>
              <input type="text" ng-model="user.pricepermonth" md-maxlength="10" maxlength="10">
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container>
              <label>อื่นๆ</label>
              <input type="text" ng-model="user.txtother" md-maxlength="500" maxlength="500">
            </md-input-container>
          </div>
        </div>
        <hr class="divider" />
        <div class="row">
          <div class="col">
            <md-button class="md-raised md-warn" ng-click="callfile()">แนบรูปภาพประกอบ</md-button>
            <hr class="divider" />
            <div class="row img01" id="img01"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="error-bold">*กดที่รูปเพื่อลบ</span>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <br /><br />
    <canvas width="300" height="300" id="canvas01" ng-hide="true"></canvas>
    <input type="file" id="infiles" ng-hide="true"/>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" myclick="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
    <a class="tab-item" myclick="cInsert()">
      <i class="icon ion-checkmark primary"></i>
      บันทึกข้อมูล
    </a>
  </div>
</ion-view>
