<ion-view view-title="เลือกรายการที่ต้องการดำเนินงาน">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <br />
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="n in listmenu">
            <div class="md-list-item-text" layout="column" ng-click="gotoleft(n.id)">
             <h2>{{n.name}}</h2>
            </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="gotoleft(n.id)"></a>
             <md-divider></md-divider>
           </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
