<ion-view view-title="เลือกเขตการขาย">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <br />
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column" ng-click="gotoleft(0)">
             <h2>อนุมัติแผนการดำเนินงาน</h2>
            </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error"  ng-click="gotoleft(0)"></a>
           </md-list-item>
          <md-divider></md-divider>
          <md-list-item class="md-2-line" >
            <div class="md-list-item-text" layout="column" ng-click="gotoleft(1)">
             <h2>อนุมัติเปิดบัญชีลูกค้า</h2>
            </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="gotoleft(1)"></a>
           </md-list-item>
          <md-divider></md-divider>
          <md-list-item class="md-2-line"  ng-click="gotoleft(2)">
            <div class="md-list-item-text" layout="column">
             <h2>อนุมัติปรับปรุงข้อมูล</h2>
            </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="gotoleft(2)"></a>
           </md-list-item>
          <md-divider></md-divider>
          <md-list-item class="md-2-line"  ng-click="gotoleft(3)">
            <div class="md-list-item-text" layout="column">
             <h2>อนุมัติเปิดใบสั่งขาย</h2>
            </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="gotoleft(3)"></a>
           </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
