<ion-view view-title="ลูกค้าที่ขออนุมัติเปิดบัญชีใหม่">
  <ion-content>
    <div>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="filtertxt">
        </label>
        <md-button class="md-raised button-clear md-warn" aria-label="description" md-ripple-size="auto">&nbsp;ยกเลิก&nbsp;</md-button>
      </div>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="n in listaccount | filter:{name:filtertxt}"
        ng-click="detailaccount(n.accountid,n.statustype,n.ivz_balancecredit,n.territoryid.id,n.name)">
          <img src="img/d05.png" class="md-avatar" alt="testt" />
           <div class="md-list-item-text" layout="column">
             <h3>{{ n.territoryid.primaryName +' - '+ n.name}}</h3>
             <p>
               เอกสาร:
               <span ng-if="n.matchtype == 1" style="color:green;font-weight:bold;">ครบ</span>
               <span ng-if="n.matchtype == 0" style="color:red;font-weight:bold;">ไม่ครบ</span>
             </p>
             <p>
               จำนวนเครดิตที่ขอมา:
               <span style="color:blue;font-weight:bold;">{{n.ivz_balancecredit | currency:'THB'}}</span>
             </p>
             <p>
               สถานะลูกค้า:<span style="color:#264348;font-weight:bold;">{{n.statustype}}</span>&nbsp;&nbsp;
             </p>
             <p ng-if="n.statuscode == 1">สถานะ:<span style="color:#264348;font-weight:bold;">Actived</span></p>
             <p ng-if="n.statuscode == 917970002">สถานะ:<span style="color:#8F1D21;font-weight:bold;">ไม่อนุมัติ</span>&nbsp;&nbsp;เนื่องจาก:<span style="color:#8F1D21;">{{n.remarkreject}}</span></p>
             <p ng-if="n.statuscode == 917970003">สถานะ:<span style="color:#003171;font-weight:bold;">บันทึกข้อมูลยังไม่สมบูรณ์</span></p>
             <p ng-if="n.statuscode == 917970000">สถานะ:<span style="color:#A17917;font-weight:bold;">รอดำเนินงาน</span></p>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="detailaccount(n.accountid,n.statustype,n.ivz_balancecredit,n.territoryid.id,n.name)"></a>
           <md-divider in-if="!$last"></md-divider>
       </md-list-item>
      </md-list>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="loaddata()">
      <i class="icon ion-ios-reload primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <!-- <a class="tab-item" ng-click="approveaccount()">
      <i class="icon ion-checkmark-circled primary"></i>
      อนุมัติ
    </a>
    <a class="tab-item" ng-click="rejectapprove()">
      <i class="icon ion-android-cancel error"></i>
      ไม่อนุมัติ
    </a> -->
  </div>
</ion-view>
