<ion-view view-title="เลือกเขตการขาย">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="n in listmaster" href="#/app/listapprove/{{n.ivz_leftterritory.id}}">
             <div class="md-list-item-text" layout="column">
               <h3>{{ n.ivz_leftterritory.primaryName }}</h3>
               <p>พนักงาน:{{item.ivz_empname}}</p>
             </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error" href="#/app/listapprove/{{n.ivz_leftterritory.id}}"></a>
         </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
