<ion-view view-title="เลือกประเภทลูกค้า">
  <ion-content>
    <div>
      <div>
        <md-list>
          <md-list-item class="md-3-line" href="#/app/listaccount/1">
             <div class="md-list-item-text" layout="column">
               <h3>ลูกค้าค้างชำระ</h3>
             </div>
             <a class="md-secondary ion-ios-arrow-forward text-h1" href="#/app/listaccount/1"></a>
             <md-divider></md-divider>
         </md-list-item>
         <md-list-item class="md-3-line" href="#/app/listaccount/2">
            <div class="md-list-item-text" layout="column">
              <h3>ลูกค้าทั่วไป</h3>
            </div>
            <a class="md-secondary ion-ios-arrow-forward text-h1" href="#/app/listaccount/2"></a>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line" href="#/app/listaccount/3">
           <div class="md-list-item-text" layout="column">
             <h3>ลูกค้าคาดหวัง</h3>
           </div>
           <a class="md-secondary ion-ios-arrow-forward text-h1" href="#/app/listaccount/3"></a>
           <md-divider></md-divider>
       </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item primary" ng-click="reback()">
      <i class="icon ion-chevron-left error"></i>
      ย้อนกลับ
    </a>
  </div>
</ion-view>
