<ion-view view-title="รายการแผนดำเนินงาน">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="n in listappointment" ng-if="n.ivz_employeeposition != '2' || n.ivz_employeeposition != '3'">
            <img src="img/d05.png" class="md-avatar" alt="testt" />
             <div class="md-list-item-text" layout="column">
               <h3>{{n.filtername}}</h3>
               <p>{{n.territoryid.primaryName}}</p>
               <p>
                 <span ng-if="n.ivz_planningstatus == 0" style="color:red;">ยังไม่ได้ส่งแผน</span>
                 <span ng-if="n.ivz_planningstatus == 1" style="color:yellow;">รอการอนุมัติ</span>
               </p>
             </div>
             <a class="md-secondary ion-trash-a text-h1 text-bold error" ng-click="copyplanning($index)"></a>
         </md-list-item>
        </md-list>
      </div>
    </div>
    <br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item primary" ng-click="reloaddata()">
      <i class="icon ion-refresh"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item success" ng-click="confirmcopy()">
      <i class="icon ion-checkmark"></i>
      ยืนยัน
    </a>
    <a class="tab-item error" ng-click="cancelcp()">
      <i class="icon ion-close"></i>
      ยกเลิก
    </a>
  </div>
</ion-view>
