<ion-view view-title="รายการแผนดำเนินงาน">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col col-90">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="n in listappointment | filter:{ivz_employeeposition:1}">
            <img src="img/d05.png" class="md-avatar"/>
             <div class="md-list-item-text" layout="column">
               <h3>{{n.filtername}}</h3>
               <p>{{n.territoryid.primaryName}}</p>
               <p ng-show="n.start">
                 วันที่:&nbsp;<span class="success">{{n.start | date:'dd/MM/yyyy'}}</span>
                 &nbsp;
                 เวลา:&nbsp;<span class="success">{{n.start | date:'HH:mm'}}-{{n.end | date:'HH:mm'}}</span>
               </p>
               <p>
                 <b ng-if="n.ivz_planningstatus == 0" style="color:#E68364;">ยังไม่ได้ส่งแผน</b>
                 <b ng-if="n.ivz_planningstatus == 1" style="color:#A17917;">รอการอนุมัติ</b>
                 <b ng-if="n.ivz_planningstatus == 2" style="color:#006442;">อนุมัติแล้ว</b>
                 <b ng-if="n.ivz_planningstatus == 3" style="color:#8F1D21;">ไม่อนุมัติ</b>
               </p>
             </div>
             <a class="md-secondary ion-trash-a text-h1 text-bold error" ng-click="removeplanning($index)" ></a>
         </md-list-item>
        </md-list>
      </div>
      <div class="col"></div>
    </div>
    <br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item primary" ng-click="reloaddata()">
      <i class="icon ion-refresh"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item success" ng-click="confirmcopy()">
      <i class="icon ion-checkmark"></i>
      ยืนยัน
    </a>
    <a class="tab-item error" ng-click="cancelcp()">
      <i class="icon ion-close"></i>
      ยกเลิก
    </a>
  </div>
</ion-view>
