<ion-view view-title="แผนดำเนินงาน">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item class="md-3-line">
             <div class="md-list-item-text" layout="column">
               <h3>D01</h3>
             </div>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error" href="#/app/listplaning/terid"></a>
         </md-list-item>
         <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
              <h3>D02</h3>
            </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error"  href="#/app/listplaning/terid"></a>
        </md-list-item>
        <md-list-item class="md-3-line">
           <div class="md-list-item-text" layout="column">
             <h3>D03</h3>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error"  href="#/app/listplaning/terid"></a>
       </md-list-item>
         <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
              <h3>D04</h3>
            </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error"  href="#/app/listplaning/terid"></a>
        </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
