<ion-view view-title="ข้อมูลลูกค้าทั่วไป">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img src="img/d05.png" alt="" width="150" height="150" class="center" />
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <h2>ข้อมูลทั่วไป</h2>
        <h3>C0001-Mama Shop</h3>
        <h3>เขตการขาย:D00</h3>
        <h3>ที่อยู่:123/234 testt</h3>
        <h3>อำเภอ:west จังหวัด:east รหัสไปรษณี:12342</h3>
        <hr />
        <h2>ข้อมูลผู้ติดต่อ</h2>
        <h3>Mr.Dee Shoping</h3>
        <h3>โทรศัพย์:085555875</h3>
        <h3>โทรสาร:058888112</h3>
        <h3>ที่อยู่อีเมล์:admin@myhost.com</h3>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-android-contact"></i>
      ข้อมูลทั่วไป
    </a>
    <a class="tab-item" href="#/app/accountmap">
      <i class="icon ion-android-map"></i>
      แผนที่
    </a>
    <a class="tab-item" href="#/app/accountinvoice/0/0">
      <i class="icon ion-android-list"></i>
      invoice
    </a>
    <a class="tab-item" href="#/app/accountbilling/0/0">
      <i class="icon ion-android-list"></i>
      billing
    </a>
  </div>
</ion-view>
