<ion-view view-title="เลือกรายการแก้ไขข้อมูลลูกค้า">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <br />
        <md-list>
          <md-list-item>
              <h3>แก้ไขหรือเพิ่มข้อมูลใหม่</h3>
             <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="uistate()"></a>
           </md-list-item>
           <md-divider></md-divider>
           <md-list-item>
              <h3>ลบบัญชีลูกค้า</h3>
              <a class="md-secondary ion-chevron-right text-h1 text-bold error"></a>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
