<ion-view view-title="รายการลูกค้า">
  <ion-content>
    <div>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" data-ng-model="filtertxt">
        </label>
        <md-button class="md-raised button-clear md-warn" aria-label="description" md-ripple-size="auto" data-ng-model="filtertxt = ''">&nbsp;ยกเลิก&nbsp;</md-button>
      </div>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="n in listaccount | filter:{filtername:filtertxt}">
          <img src="img/avatar-1.png" class="md-avatar" alt="testt" />
           <div class="md-list-item-text" layout="column">
             <h3>{{n.filtername}}</h3>
             <p>{{n.territoryid.primaryName}}</p>
             <p ng-if="n.statuscode == 1">สถานะ:<span style="color:#264348;">Actived</span></p>
             <p ng-if="n.statuscode == 917970002">สถานะ:<span style="color:#8F1D21;">ไม่อนุมัติ</span>&nbsp;&nbsp;เนื่องจาก:<span style="color:#8F1D21;">{{n.remarkreject}}</span></p>
             <p ng-if="n.statuscode == 917970003">สถานะ:<span style="color:#003171;">บันทึกข้อมูลยังไม่สมบูรณ์</span></p>
             <p ng-if="n.statuscode == 917970000">สถานะ:<span style="color:#A17917;">รอดำเนินงาน</span></p>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error" href="#/app/accountdetail/{{n.accountid}}/{{Data.mastertype}}" ng-if="n.statuscode == 1"></a>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error" href="#/app/accounteditor/{{n.accountid}}/{{n.name}}/{{n.ivz_taxid}}/{{Data.mastertype}}"
           ng-if="n.statuscode == 917970002 || n.statuscode == 917970003"></a>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-disabled="true" ng-if="n.statuscode == 917970000"></a>
       </md-list-item>
      </md-list>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="reloaddata()">
      <i class="icon ion-ios-reload primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item" ng-click="openaccount()">
      <i class="icon ion-android-person-add primary"></i>
      เปิดบัญชีลูกค้าใหม่
    </a>
    <a class="tab-item" ng-click="setfilter(917970002)">
      <i class="icon ion-android-cancel error"></i>
      ลูกค้าที่ไม่อนุมัติ
    </a>
    <a class="tab-item" ng-click="setfilterPendding(917970003,917970000)">
      <i class="icon ion-android-contact warning"></i>
      ลูกค้าที่ยังไม่อนุมัติ
    </a>
  </div>
</ion-view>
