<ion-view view-title="รายการ Invoice">
  <ion-content>
    <div>
      <md-list>
        <md-list-item class="md-3-line">
          <img src="img/d05.png" class="md-avatar" alt="testt" />
           <div class="md-list-item-text" layout="column">
             <h3>Mr.Deera</h3>
             <p>Tername </p>
           </div>
           <a class="md-secondary ion-chevron-right text-h1 text-bold error" href="#/app/planneddetail/{{Data.mastertype}}"></a>
       </md-list-item>
      </md-list>
    </div>
  </ion-content>
</ion-view>
