<ion-view view-title="เลือกรูปแบบการขาย">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item>
            <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">ขาย 1</span></h2>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="goop(1)"></a>
          </md-list-item>
          <md-list-item>
            <h2><i class="icon ion-ios-list success"></i>&nbsp;<span class="success">ขาย 2</span></h2>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="goop(1)"></a>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
