<ion-view view-title="เลือกรูปแบบการขาย">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="n in listorderoption" ng-click="gooporder(n.orderlink)">
            <img src="{{n.avator}}" class="md-avatar" alt="testt" />
            <div class="md-list-item-text" layout="column">
              <h2>
                {{n.ordername}}
              </h2>
            </div>
            <a class="md-secondary ion-chevron-right text-h1 text-bold error" ng-click="gooporder(n.orderlink)"></a>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </ion-content>
</ion-view>
