<ion-view view-title="รายการสินค้าในตะกร้า">
  <ion-content>
    <br />
    <div class="row">
      <div class="col">
        <div>
          <md-list>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>Item Name</h3>
                <h4>price</h4>
                <p>tatol</p>
              </div>
              <md-button class="md-secondary">
                <i class="icon ion-close-round error text-h1"></i>
              </md-button>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>Item Name</h3>
                <h4>price</h4>
                <p>tatol</p>
              </div>
              <md-button class="md-secondary">
                <i class="icon ion-close-round error text-h1"></i>
              </md-button>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>Item Name</h3>
                <h4>price</h4>
                <p>tatol</p>
              </div>
              <md-button class="md-secondary">
                <i class="icon ion-close-round error text-h1"></i>
              </md-button>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>Item Name</h3>
                <h4>price</h4>
                <p>tatol</p>
              </div>
              <md-button class="md-secondary">
                <i class="icon ion-close-round error text-h1"></i>
              </md-button>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>Item Name:xxxxxxxxxxxxxxxxxxxx</h3>
                <h4>price:1525</h4>
                <p>tatol:123 quality:123</p>
              </div>
              <md-button class="md-secondary">
                <i class="icon ion-close-round error text-h1"></i>
              </md-button>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <h4>ยอดรวม:&nbsp;<span class="error">1223526</span>&nbsp;บาท</h4>
      </div>
    </div>
    <br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="ordedetail()">
      <i class="icon ion-refresh primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item" ng-click="showmodal(1)">
      <i class="icon ion-checkmark-circled success"></i>
     ยืนยันใบสั่งขาย
    </a>
  </div>
</ion-view>
