<ion-view view-title="รายการใบสั่งขาย">
  <ion-content>
    <br />
    <div class="row">
      <div class="col">
        <div>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="n in listorder | filter:{statuscode:group.filter}">
              <div class="md-list-item-text">
                <h3>{{n.ordernumber}}</h3>
                <h4>{{n.name}}</h4>
                <p>
                  สถานะ:
                  <span style="color:red;font-weight:bold;" ng-if="!n.ivz_ordernumber.length">กำลังรอซิงค์เข้า AX</span>
                  <span style="color:green;font-weight:bold;" ng-if="n.ivz_ordernumber.length > 0">ซิงค์เข้า AX แล้ว</span>
                  สถานะออร์เดอร์:
                  <!-- <span style="color:#006442;font-weight:bold;">All || ทั้งหมด</span> -->
                  <span style="color:#CA6924;font-weight:bold;" ng-if="n.statuscode === 2">Pending || รอดำเนินการ</span>
                  <span style="color:#003171;font-weight:bold;" ng-if="n.statuscode === 3">In Progress || อยู่ในช่วงดำเนินการ</span>
                  <span style="color:#757D75;font-weight:bold;" ng-if="n.statuscode === 4">Submitted || ยืนยันแล้ว</span>
                  <span style="color:#9D2933;font-weight:bold;" ng-if="n.statuscode === 1">New || ถูกเลิก</span>
                  ประเภทการขาย:
                  <span style="color:green;font-weight:bold;" ng-if="n.ivz_statussales === '1'">ขาย 1</span>
                  <span style="color:green;font-weight:bold;" ng-if="n.ivz_statussales === '2'">ขาย 2</span>
                </p>
              </div>
              <md-button class="md-secondary"
              ng-click="showdetailorder(n.salesorderid,n.customerid.primaryName,n.ivz_territory.id,n.ivz_statussales,true)" ng-if="n.statuscode === 1 || n.statuscode === 2">
                <i class="icon ion-chevron-right error text-h1"></i>
              </md-button>
              <md-button class="md-secondary"
              ng-click="showdetailorder(n.salesorderid,n.customerid.primaryName,n.ivz_territory.id,n.ivz_statussales,false)"
              ng-if="n.statuscode === 3 || n.statuscode === 4">
                <i class="icon ion-chevron-right error text-h1"></i>
              </md-button>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </div>
    <br /><br />
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="ordedetail()">
      <i class="icon ion-refresh primary"></i>
      เรียกข้อมูลใหม่
    </a>
    <a class="tab-item" ng-click="showmodal(1)">
      <i class="icon ion-navicon-round success"></i>
     กรองข้อมูล
    </a>
  </div>
</ion-view>
